#top {
    padding: 12px;
    font-family: "Inter";
    --gray-200: #e1e8f0;
    --gray-400: #91a4b7;
    --gray-500: #61758a;
    --gray-600: #445668;
    --gray-700: #304254;
    --sky-500: rgb(14 165 233);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border-radius: 0.25rem;
    border: 1px solid var(--gray-200);
}

#header {
    margin-bottom: 24px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--gray-600);
}

#assign-to-text {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--gray-600);
    margin-right: 0.25rem;
}

#assign-to {
    font-size: 1rem;
}

#table-container {
    box-shadow: 0 0 25px -5px #0000001a,0 0 10px -5px #0000000a;
    border-radius: 8px;
    width: 100%;
    overflow: auto;
}

#table {
    color: var(--gray-700);
}

#table thead {
    font-weight: 500;
    text-align: left;
}

#table tr {
}

#table td, #table th {
    padding: 0;
}

#table td.index-column {
    color: var(--gray-400);
    font-size: 0.750rem;
    padding: 0 1rem;
}

thead .table-cell, tbody .table-cell {
    width: 8rem;
    overflow: clip;
    height: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--gray-200);
    cursor: default;
    white-space: nowrap;
}

thead .table-cell > input, tbody .table-cell > input {
    display: none;
    width: 100%;
    border: 0;
}

tbody .table-cell .number-cell {
    text-align: right;
}

thead .selected > div, tbody .selected > div {
    display: none;
}

thead .selected > input, tbody .selected > input {
    display: block;
}

thead .add-column, tbody .delete-row {
    padding: 0.5rem 1rem 0.5rem 0;
    min-width: 0;
    height: 1rem;
    color: var(--gray-400);
    border: 2px solid transparent;
    cursor: pointer;
}

thead .heading-text {
    overflow: clip;
}

thead .delete-col {
    color: var(--gray-400);
    display: none;
    overflow: clip;
    height: 1rem;
    cursor: pointer;
}

thead .group:hover .delete-col {
    display: inline;
}

thead .delete-col svg {
    height: 1rem;
    width: 1rem;
}

thead .heading-container {
    display: grid;
    grid-template-columns: 1fr 1rem;
    justify-content: space-between;
    align-items: center;
}

tbody tr.group .delete-row {
    display: none;
}

tbody tr.group:hover .delete-row {
    display: block;
}

tbody .empty-cell {
    color: var(--gray-400);
}

tbody .add-row {
    text-align: center;
    color: var(--gray-500);
    cursor: pointer;
}
